
/*		Basic Setup
=================================================
=================================================
*/
body {
	font-family: Helvetica,Arial,sans-serif;
	background-color: salmon;
	padding:100px;
}

/*		Characters
=================================================
=================================================
*/
.characters {
	margin-top: 100px;
	outline: 2px solid black;
	display: flex;		flex-wrap: nowrap;
	justify-content: space-between;
}

.character {
	position: relative;
	min-height: 300px;
	min-width: 200px;
	filter: saturate(0);
	transition: all 420ms;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.character:hover {
	transform: scale(1.5);
	filter: saturate(100%);
	z-index:5;
}



/*		Specific Characters
=================================================
		Sprites from: 2dwillneverdie.com
=================================================
*/
.designer {
	background-size: 58%;
	background-image:  url("images/placeholder_designer_Mary.gif");
}

.ui-ux {
	background-size: 45%;
	background-image: url("images/placeholder_UIUX_vanessa.png");
}

.front-end {
	background-image: url("images/placeholder_frontend_shiki2.png");
	background-size: 83%;
}

.back-end {
	background-image: url("images/placeholder_backend.gif");
	background-size: 96%;
}

.writer {
	background-size: 50%;
	background-image: url("images/placeholder_writer_kiwi.png");
}
